<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select options</title>
    <style>
        *{
            font-family: cursive;
        }
        #button1{
            width: 400px;
            height: 50px;
            margin-top: 20px;
        }
        #button2{
            width: 400px;
            height: 50px;
            margin-top: 20px;
        }

        #container{
            text-align: center;
            margin-top: 200px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div id="container">
        <form  method="post" action="/represent/facenet">
            
            <button type="button contact-button" id="button2">Facenet</button>
        </form>

        <form method="post" action="/represent/vggface">
            
            <button type="button contact-button" id="button1" >VGGFace</button>
         </form>

    </div>
</body>
</html>