<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
       
    </head>
    <style type="text/css">
        .container{
            background-image: url('deep.jpg');
            margin: auto;
            background-size: 1480px 800px;
            background-repeat: no-repeat;
        }
    </style>
    
    <body class = 'container'>    
        <center>
        <h2><font size="7px">Using Facenet<br>For verify image</font></h2><br><br><br>

        <form method="POST" action="/verify/facenet/distance" enctype="multipart/form-data">
            <input type="file" name='image' class='btn'><br><br><br>
            <input type="file" name='image2' class='btn'><br><br><br>
            <input type="submit" class='btn'>
        </form>

    </center>

    </body>
</html>